<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="content" id="divProductDetails">
		<div class="row g-3 align-items-center" id="divDetail0">
			<div class="col-auto">
				<label for="name" class="col-form-label">Name:</label>
			</div>
			<div class="col-auto">
				<input type="text" id="name" class="form-control" style="width: 400px;" name="detailNames">
			</div>

			<div class="col-auto" style="margin-left: 50px;">
				<label for="value" class="col-form-label">Value:</label>
			</div>
			<div class="col-auto">
				<input type="text" id="value" class="form-control" style="width: 400px;" name="detailValues">
			</div>
		</div>

	</div>

</body>

</html>